<section>
  <h2>What do you think about me?</h2>

  <app-thought-form (thoughtSubmitted)="loadThoughts()"> </app-thought-form>
</section>

<hr />

<section>
  <h2>Thoughts about Banuka</h2>

  @if (loading) {
    <p>Loading thoughts...</p>
  }

  @for (thought of thoughts; track thought.id) {
    <div>
      <h4>{{ thought.name }}</h4>
      <small>{{ thought.position }}</small>
      <p>{{ thought.message }}</p>
      <small>{{ thought.createdAt | date: "medium" }}</small>
      <hr />
    </div>
  }
</section>
