.navbar-container {
  width: 100%;
}
:host ::ng-deep .p-menubar-root-list {
  justify-content: center;
  width: 100%;
}

/* Desktop */
.desktop-nav {
  display: block;
}

/* Mobile */
.mobile-nav {
  display: none;
}

.menu-btn {
  font-size: 1.5rem;
}

/* Drawer menu */
.drawer-menu {
  list-style: none;
  padding: 0;
}

.drawer-menu li {
  margin: 1rem 0;
}

.drawer-menu a {
  text-decoration: none;
  font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}
